<div class="parent">
  <div id="header">
    Title:
    <input
      #input
      placeholder="placeholder"
      [value]="this.title"
      (keyup.enter)="updateTitle(input.value)"
    />

    <button (click)="onDelete()">X</button>
    <br>
    ID: {{ this.id }}
  </div>
  <br />
  <div id="content">
    <label for="startDate">Start Date:</label>
    <input id="startDate" type="date" [ngModel]="this.time | date:'yyyy-MM-dd'" (ngModelChange)="updateTime($event)"/>
    <br />
    <div *ngIf="this.time">
      time-since: {{ time_since}}
    </div>
  </div>
  <br />
  <div id="footer">
  </div>
</div>