@use "../../styles.scss" as global;

$card-max-width: 265px;
$card-max-height: 355px;

.parent {
  max-width: $card-max-width;
  max-height: $card-max-height;
  padding: global.$global-padding;
  border: global.$global-border;
  border-radius: global.$global-border-radius;
  background-color: white;
}

#header {
  border: global.$global-border;
  border-radius: global.$global-border-radius;
  padding: global.$global-padding;
  text-align: center;
}

#content {
  width: auto;
  height: auto;
  padding: global.$global-padding;
}

#footer {
}
