<div class="parent">
  <mat-card>
    <mat-card-title>
      <div id="header">
        <mat-form-field>
          <input
          matInput
            #input
            placeholder="Title"
            [value]="this.title"
            (keyup.enter)="updateTitle(input.value)"
            style="max-width: 160px"
          />
        </mat-form-field>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div id="content">
        <div id="form-field">
          <label for="startDate">Start Date</label>
          <br/>
          <input
            id="startDate"
            type="date"
            [max]="this.max_selectable_date"
            [ngModel]="this.time | date: 'yyyy-MM-dd'"
            (ngModelChange)="updateTime($event)"
          />
        </div>
        <br />
        <div id="form-field">
          <div *ngIf="this.time">
            <label>Time Since</label>
            <br/>
            {{ time_since }}
          </div>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onDelete()" color="error">Delete</button>
    </mat-card-actions>
    <mat-card-footer>
      <div id="footer"></div>
    </mat-card-footer>
  </mat-card>
</div>
