@use "../styles.scss" as global;

#root {
  font-family: global.$global-font;
  font-size: global.$global-font-size;
  outline: global.$global-outline;
  padding: global.$global-padding;
}

#header {
  outline: global.$global-outline;
}

#content {
  outline: global.$global-outline;
  padding: global.$global-padding;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

#footer {
  outline: global.$global-outline;
  text-align: center;
}
