p {
  font-family: Lato;
}

#root {
  background: orange;
}

#header {
  text-align: center;
  outline: 3px black;
  margin-bottom: 5px;
  padding: 10px;
  background: teal;
}

#content {
  padding: 10px;
}

#grid-container {
  display: inline-grid;
  grid-template-columns: minmax(auto, 2fr) minmax(auto, 2fr) minmax(auto, 2fr);
  grid-template-rows: minmax(auto, 2fr) minmax(auto, 2fr) minmax(auto, 2fr);
  grid-gap: 10px;
}

#footer {
  outline: 3px black;
  margin-top: 5px;
  padding: 5px;
  background: teal;
}
