<div id="root">
  <div id="header">Time Since</div>
  <div id="content">
    <button (click)="addNewTimeSince()">Create</button>
    <button (click)="onClearLocalStorage()">Clear All</button>
    <br />
    <!--TODO: Make this a separate component to prevent cluttering the main file-->
    <div id=grid-container>
      <div *ngFor="let item of item_list">
        <app-time-since [id]="item.id" [title]="item.title" [time]="item.time"
          (modified_item)="this.onDataUpdate($event)" (on_delete_ee)="onRemoveTime()">
        </app-time-since>
      </div>
    </div>
  </div>
  <div id="footer">
    <table style="width: 100%">
      <tr>
        <td>time since</td>
        <td>
          <a href="https://github.com/l0-w-0l/angular-time-since">
            GitHub: |0-w-0|
          </a>
        </td>
        <td>{{todays_date}}</td>
      </tr>
    </table>
  </div>
</div>