@use "../styles.scss" as global;

#root {
  font-family: global.$global-font;
  font-size: global.$global-font-size;
  border: global.$global-border;
  border-radius: global.$global-border-radius;
  padding: global.$global-padding;
}

#header {
  border: global.$global-border;
  border-radius: global.$global-border-radius;
}

#content {
  border: global.$global-border;
  border-radius: global.$global-border-radius;
  padding: global.$global-padding;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

#footer {
  border: global.$global-border;
  border-radius: global.$global-border-radius;
  text-align: center;
}
