<div id="root">
  <div id="header">Time Since</div>
  <div id="content">
    <button disabled>save(WIP)</button>
    <button disabled>load(WIP)</button>
    <br />
    <button (click)="onAddNewTimeSinceNow()">Add TimeSince Now</button>
    <br />
    <div id=grid-container>
      <div *ngFor="let item of item_list | keyvalue">
        <app-time-since-now [id]="item.key" [data]="item.value" (updated_data)="this.onDataUpdate($event)">
        </app-time-since-now>
      </div>
    </div>
    <br />
    <button (click)="onAddNewTimeSinceCustom()">Add TimeSince Custom Start</button>
    <br />
    <div id=grid-container>
      <div *ngFor="let item of item_list | keyvalue">
        <app-time-since-now [id]="item.key" [data]="item.value" (updated_data)="this.onDataUpdate($event)">
        </app-time-since-now>
      </div>
    </div>
  </div>
  <div id="footer">
    <table style="width: 100%">
      <tr>
        <td>time since</td>
        <td>|0-w-0|</td>
        <td>{{todays_date}}</td>
      </tr>
    </table>
  </div>
</div>