<div id="root">
  <div id="header">Time Since</div>
  <div id="content">
    <button disabled>save(WIP)</button>
    <button disabled>load(WIP)</button>
    <br />
    <button (click)="addNewTimeSince()">Start Counting!</button>
    <br />
    <div id=grid-container>
      {{item_list}}
      <div *ngFor="let item of item_list">
        <app-time-since [id]="item.id" [title]="item.title" [time]="item.time"
          (updated_data)="this.onDataUpdate($event)">
        </app-time-since>
      </div>
    </div>
  </div>
  <div id="footer">
    <table style="width: 100%">
      <tr>
        <td>time since</td>
        <td>|0-w-0|</td>
        <td>{{todays_date}}</td>
      </tr>
    </table>
  </div>
</div>