/* Add application styles & imports to this file! */

$global-border-radius: 3px;
$global-border: 3px solid black;

$global-font-size: 1em;
$global-font:'Courier New', Courier, monospace;

$global-outline: 3px solid black;

$global-padding: 1em;